@import url(//fonts.googleapis.com/css?family=Open+Sans);

body {
    top: 50px;
    margin: 40px;
    font-family: 'Open Sans', sans-serif;
    background-color: #f3f7e9;
    color: #8a9e9b;
    text-align: left;
  }
  
  .title {
    text-align: right;
  }
  
  .navbar {
    position: fixed;
    top: 45px;
    right: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  h1.icon {
    opacity: 1;
    transition: opacity 0.3s ease;
    align-self: flex-end;
    font-size: 1.5rem; 
  }
  
  h1 {
    text-align: center;
    animation: slideIn 0.5s ease-in-out;
  }
  .links {
    position: fixed;
    top: 130px;
    right: 40px;
    opacity: 0;
    transition: opacity 0.3s ease;
    text-align: right; 
  }
  
  .links a {
    font-size: 16px;
    transition: font-size 0.3s ease;
    text-align: justify;
    white-space: nowrap;
    color: #8a9e9b; 
    text-decoration: none;
  }
  
  .links a:hover {
    font-size: 25px;
  }
  
  .links a:visited {
    color: #5c6b68; 
  }
  
  .icon:hover + .navbar .links,
  .navbar:hover .links {
    opacity: 1;
  }


  button {
    --c:  #6e8f76;
    color: #8c9e8a;
    background: #f5f4ef;
    background-size: 50.5% calc(var(--_p,0%)/2 + .5%);
    outline-offset: .1em;
    transition: background-size .4s, background-position 0s .4s;
    border-radius: 12px;
  }
  button:hover {
    --_p: 100%;
    transition: background-position .4s, background-size 0s;
  }
  button:active {
    box-shadow: 0 0 9e9q inset #8a9e9b; 
    background-color: var(--c);
    color: #fff;
  }
  
  button {
    font-size: 1rem;
    cursor: pointer;
    padding: .1em .6em;
    font-weight: bold;  
    border: none;
  }

  div.icon {
    align-items: center;
    justify-content: center;
    display: inline-flex;
    width: 60px;
    height: 55px;
    font-size: 2rem; 
  }

  div.filters {
    font-size: 2rem; 
    display: flex;
    justify-content: center;
    align-items: center;
  }

  div.log {
    position: fixed;
    top: 20px;
    right: 40px;
  }
  
  .cards {
    width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 40px;
    justify-items: center;
    align-items: center;
  }
  
  .card {
    width: 200px;
    height: 170px;
    background: #fffeff;
    border-radius: 15px;
    box-shadow: 1px 5px 30px 0px #9694be6b;
    animation: slideIn 0.5s ease-in-out; /* Add animation property */
  }

  .card:hover {
    box-shadow: 0 0 0 1px #35613b; /* Add desired outline properties */
  }
  
  .card .card-border-top {
    width: 60%;
    height: 3%;
    background: #6b64f3;
    margin: auto;
    border-radius: 0px 0px 15px 15px;
  }
  
  .card span {
    font-weight: 600;
    color: rgb(46, 46, 46);
    text-align: center;
    display: block;
    padding-top: 20px;
    font-size: 16px;
  }
  
  .card p {
    font-weight: 400;
    color: rgb(21, 24, 22);
    display: block;
    text-align: center;
    padding-top: 3px;
    font-size: 12px;
  }
  
  .card img {
    display: block;
    margin: 10px auto;
    width: 25px;
    height: 25px;
    padding-top: 17px;
  }
  
  @keyframes slideIn {
    0% {
      transform: translateY(50%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  

/* for card buttons 

.card button {
 padding: 8px 25px;
 display: block;
 margin: auto;
 border-radius: 8px;
 border: none;
 margin-top: 30px;
 background: #6b64f3;
 color: white;
 font-weight: 600;
}

.card button:hover {
 background: #534bf3;
} */